.Loader__container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Loader__text {
    font-size: 21px;
    color: #003366;
    margin-top: 20px;

}

.Loader__icon {
    font-size: 66px !important;
    color:#003366;
    
}