.Home__container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0px 35px 0px;
    background-color: #ddedff;
    position: relative;
    
}














